/* format is... 
    selector{property: value;} */

/*******************TAG Selectors*********************/

body {
  background-color: #fefbf3;
}
hr {
  border-style: none;
  border-top-style: dashed;
  background-color: gray;
  width: 5%;
}
img {
  width: 100px;
  height: 100px;
}

footer {
  background-color: #d3e4cd;
}

/*******************Class Selectors*********************/

.text {
  color: #9d9d9d;
}

.bigText {
  color: #79b4b7;
}

.tab {
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: inherit;
  border: solid #79b4b7;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*******************ID Selectors*********************/
/* you can only have one instance of the given id in the page,
   classes are best for multiple elements using the same style */
#heading {
  color: #79b4b7;
}
